//- pre {{videos[0].id}}
.video-container(du-parallax y="background")
  iframe(
    src='//player.vimeo.com/video/128523144'
    width='1920'
    height='1080'
    frameborder='0'
    autoplay='1'
    badge='0'
    byline='0'
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
  )

.grey-stuff

