.video-container(du-parallax y="background")
  player(
    auto-play="0"
    playlist="playlist"
  )
.playlist-container

  .control
    .now-playing
      a.title(
        href='{{playlist.current().url}}'
      ) {{playlist.current().title}}
      span &nbspFrom&nbsp
      a.user_name(
        href='{{playlist.current().user_url}}'
      ) {{playlist.current().user_name}}
    .play-next.fa-fast-forward(ng-click="playlist.playNext()")
    .play-previous.fa-fast-forward(ng-click="playlist.playPrevious()")

  .arrow-down

  playlist(
    playlist="playlist"
  )
