.video-container(du-parallax y="background")
  player(
    auto-play="0"
    playlist="playlist"
  )
.playlist-container

  .control
    .play-previous.fa.fa-fast-backward.hidden-xs(ng-click="playlist.playPrevious()")
    span.now-playing
      a.title(
        href='{{playlist.current().url}}'
      ) {{playlist.current().title}}
      wbr
      span &nbspFrom&nbsp
      a.user_name(
        href='{{playlist.current().user_url}}'
      ) {{playlist.current().user_name}}
    .play-next.fa.fa-fast-forward.hidden-xs(ng-click="playlist.playNext()")



  #playlist
    playlist(
      playlist="playlist"
    )
